body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.title{
  margin: 20px auto;

}
.list{
  display: flex;
  margin: 0;
  justify-content: center;
  padding: 0;
}
h1{
  color: #6ebef7;
  font-weight: 600;
}
.underline{
  width: 24rem;
  height: 0.25rem;
  background-color: #6ebef7;
  margin-bottom: 16px;
}
.item{
  list-style: none;
  margin: 16px;
  
  display: block;
}
.item button:hover{
  background-color: #6ebef7!important;
  opacity: 80%;
  color: #fff;
}
.active-btn.item{
  
}
.item button{
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: none;
  padding: 40px;
  font-size: 20px;
  background-color: #ccc;
  align-items: center;
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
}

.active-btn>button{
  background-color: #6ebef7;
  padding: 42px;
}
.underline-app{
  width: 100%;
  height: 0.25rem;
  background-color: #6ebef7;
  margin: 4rem 0;
}
/* Bai 4 */
.container-2{
  
}
.title-2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 16px 0;
}
.user h3{
  font-weight: 600;
  letter-spacing: 2px;
}
.active-user{
  border-bottom: solid 1px #6ebef7;
  color: #6ebef7;
}
.section-center{
  display: grid;
  width: 200px;
  grid-template-columns: repeat(8,0fr);
  align-items: center;
  justify-content: center;
  margin: 24px auto;
  padding: 2px;
  border: solid 1px #ccc;
}
.section-center .item{
  background-color: #e6e6e6;
  width: 20px;
  height: 20px;
  margin: 2px!important;
  display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 14px;
    align-content: center;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 600;
}
/* Bai 2 */
.img{
  width: 100px;
  height: 200px;
  background-color: #fff;
  
}
.img2{
  height: 150px;
  width: 100px;
}
.option{
  padding: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.bai2{
  background-color: hsl(205, 100%, 96%);
  width: 100vw;
  height: 100vh;
}
.jar-container{
  display: flex;
  justify-content: center;
}
form{

}
.jar-item{
  border: 1px solid #000;
  padding: 4px;
  margin-right: 4px;
  width: 50px;
}
.relative{
  position: relative;
}
button{
  padding: 6px;
  border: none;
  background-color: #6ebef7;
  color: #fff;
  margin-left: 4px;
}
.center-item{
  padding: 32px;
  margin: 0 16px;
  
}
h3{
  text-align: center;
  color: hsl(205, 63%, 48%);
}
.water-item{
  position: absolute;
    top: 38%;
    right: 38%;
}
.margin-top{
  margin-top: 45px;
}
.section-left{
  display: flex;
  width: 50%;
  background-color: #fff;
}
.section-right{
  width: 50%;
  background-color: hsl(12, 89%, 89%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-right button{
  margin: 8px 0;
  width: 300px;
  cursor: pointer;
}
.section-right button:hover{
  background-color: hsl(205, 90%, 88%);
  color: #000;
}
.max-water{
  display: flex;
}
.max-water p{
  text-transform: capitalize;
  margin-right: 8px;
}
.max-water input{
  width: 30px;
  height: 15px;
  margin: auto 0;
}
.target{

}
.target label{
  text-transform: uppercase;
  font-size: 20px;
  margin-right: 8px;
}
.target input{
      padding: 4px;
    width: 30px;
    border: none;
    font-size: 24px;

}
.bfs{
  padding: 32px;
  background-color: hsl(205, 100%, 96%);
}
.bfs button{
  cursor: pointer;
}
.bfs button:hover{
  background-color: hsl(205, 90%, 88%);
  color: #000;
}
.show{
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}
.show div{
  display: flex;
  justify-content: space-between;
}
.show div div{
  display: flex;
  justify-content: space-around;
  width: 240px;
}